<div class="container">
    <div class="header">
       <h1>About Us:</h1> <strong>This Website is a result of  cumulative hard-work effort of Principal of <a href="https://www.rait.ac.in/">Ramrao Adik Institute of Technology</a> , <a href="https://www.linkedin.com/in/mukesh-patil-42785039/?originalSubdomain=in">Dr.Mukhesh Patil</a>  who constantly encouraged his students to
                                work in the mathematical domain of Fractional Calculus.
                                
                        </strong>
    </div>
    <br>
    <div class="row">
        
                
                <div class="col s4">
                    <img class="circle responsive-img"  src="https://media-exp1.licdn.com/dms/image/C5603AQH3ZpaMVgdb2Q/profile-displayphoto-shrink_200_200/0?e=1590019200&amp;v=beta&amp;t=IaDCI2Cw6toLHXzLD6IHHuy6jESW1Kdx8EP8rvczQfA"  alt="Mr.Mukesh Patil" >
                    <br>
                    <small> Dr.Mukesh Patil</small>
                </div>
                
                <div class="col s4">
                    <img class="circle responsive-img"   src="https://c5.rgstatic.net/m/437738464651637/images/template/default/profile/profile_default_l.jpg" alt="Vishwesh Vyawahare" class="nova-e-avatar__img">
                   <br>
                    <small> Dr.Vishwesh A.Vyawhare</small>
                </div>
                
                <div class="col s4">
                    <img class="circle responsive-img" sizes="print 69px,112px" alt="Dr. Sangita Chaudhari"  src="https://scholar.googleusercontent.com/citations?view_op=view_photo&amp;user=TV-vbF0AAAAJ&amp;citpid=2" id="gsc_prf_pup-img" srcset="https://scholar.googleusercontent.com/citations?view_op=view_photo&amp;user=TV-vbF0AAAAJ&amp;citpid=2 111w,https://scholar.googleusercontent.com/citations?view_op=medium_photo&amp;user=TV-vbF0AAAAJ&amp;citpid=2 222w">
                    <br>
                    <small>Dr.Sangeeta Chaudhari</small>
                </div>
               
            
                 
            
            
       
    </div>
</div>