<div class="carousel carousel-slider" style="z-index:0;">
    <img src="/assets/carousel/isaac-smith-6EnTPvPPL6I-unsplash.jpg" alt="" class="carousel-item">
    <img src="/assets/carousel/i_love.png" alt="" class="carousel-item">
    <img src="/assets/carousel/isaac-smith-AT77Q0Njnt0-unsplash.jpg" alt="" class="carousel-item">

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, {indicators:true,fullWidth:true});
      });
</script>