<footer class="page-footer grey lighten-4 z-depth-4" style="bottom: 0;width:100%;" >
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Quote for the Day:</h5>
          <p class="black-text text-lighten-4">  <blockquote >
           <i class=" black-text "> “Nothing takes place in the world whose meaning is not that of some maximum or minimum.” </i>
            <br>  <b class="black-text">― Leonhard Euler</b>
          </blockquote></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">ABOUT DEVELOPER </h5>
          
          <ul>
            <li style="cursor:pointer;"><a class="black-text text-lighten-3" href="https://www.facebook.com/siddharthraja.raja" style="color: darkblue ;" ><i class="fab fa-facebook"> Facebook </i></a></li>
            <li style=" cursor:pointer;"><a class="black-text text-lighten-3" href="https://www.instagram.com/siddharthrajaraja/"><i class="fab fa-instagram" ></i> Instagram </a></li>
            <li style="cursor:pointer;"><a class="black-text text-lighten-3" href="https://www.hackerrank.com/siddharthraja981"> <i class="fab fa-hackerrank"></i> Hackerrank </a></li>
            <li style="cursor:pointer;"><a class="black-text text-lighten-3" href="https://github.com/siddharthrajaraja"> <i class="fab fa-github"></i> Github </a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
      © Siddharth Raja
        
       <a class="black-text text-lighten-3 right" href="https://www.linkedin.com/in/siddharth-raja-88248a171/"  style="color: darkblue" > &nbsp; <i class="fab fa-linkedin"></i> &nbsp;</a>
      
       <a class="black-text text-lighten-3 right" href="https://wa.me/+919627480558">&nbsp; <i class="fab fa-whatsapp"></i>&nbsp; </a>
      </div>
    </div>
  </footer>

  <link rel="stylesheet" href="/assets/css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">