<div id="poly">
    
    <span class="card-title grey-text text-darken-4"> <strong> Polynomial Simulation </strong><i class="material-icons right">close</i></span>
    <br>
    <small> <strong> Note: </strong> This section is to calculate the fractional derivative of <strong> a polynomial equation over alpha order derivative </strong>. </small>
    

    <form action="/term_simulation" method="POST">
        
        <div class="input-field" style="margin-top: 10%;">
            <input type="text" name="equation" id="equation">
            <label for="equation">Enter the Equation</label>
        </div>


        <button class="btn red" style="margin-top: 10%;">Submit</button>

    </form>
   
</div>
