<div id="poly">
    
    <span class="card-title grey-text text-darken-4"> <strong> Polynomial Simulation </strong><i class="material-icons right">close</i></span>
    <br>
    <small> <strong> Note: </strong> This section is to calculate the fractional derivative of <strong> a polynomial equation over alpha order derivative </strong>. </small>
    

    <form action="/poly_simulation" method="POST">
        
        <div class="input-field">
            <input type="text" name="mu" id="mu">
            <label for="mu">Enter value of mu</label>
            
        </div>

        <div class="input-field" style="margin-top: 10%;">
            <input type="text" name="equation" id="equation" placeholder="a1*x^b1+a2*x^b2+...+an"   pattern="(?:^(([0-9]*(?:(\.)[0-9]+|)[*]{1}x\^[0-9]*(?:((\.))[0-9]+|))([+|-]([0-9]*(?:(\.)[0-9]+|)[*]{1}x\^[0-9]*(?:((\.))[0-9]+|)))*([+|-]([0-9]+))*)|)[0-9]*(?:(\.)[0-9]+|)" >
            
            <label for="equation">Enter the Equation</label>
        </div>


        <button class="btn red" style="margin-top: 10%;">Submit</button>

    </form>
   
</div>
