<div class="navbar-fixed">
<nav class="grey lighten-4 z-depth-2">
    <div class="nav-wrapper">
        <img src="/assets/logo/logo.PNG" style="width: 15rem;left:0;top:0;" alt="Logo" class="brand-logo left responsive-img hide-on-small-only z-depth-3">
        <img src="/assets/logo/logo.PNG" style="width: 8rem;left:0;top:0;" alt="Logo" class="brand-logo left responsive-img hide-on-med-and-up">
        
        <ul class="right">
            <li> <a href="/dashboard" class="black-text">Dashboard</a> </li>
            <li> <a href="" class="black-text">Log Out</a> </li>
        </ul>
        
    </div>

</nav>
</div>